{{>layouts/header}}

<!--content-->
<div class ="bg-dark text-white p-5">
    <h1>{{username}}님, 하이하이</h1>
    <p>이건 FirstController 클래스의 niceToMeetYou 메서드에서 greetings.mustache 파일 반환한거임</p>
    <p>이것도</p>
</div>


{{>layouts/footer}}